<!DOCTYPE html>
<html>
<head>
<style>
body{
  margin: 150px;
  display: flex;
  justify-content: center;
}
.all {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 200px;
  border-radius: 15px;
  border: 0.3px solid grey;
  box-shadow: 3px 3px 13px grey;
}
img{
  height: 260px;
  weight: 260px;
}
</style>
</head>
<body>
<div class="all">
  <div class="center">
  <h2>Kechirasiz, Bunday sahifa mavjud emas !</h2>
    <p>Siz buzilgan havolaga kirgansiz yoki bu saytda mavjud bo'lmagan URL manzilini kiritganga o'xshaysiz.</p>
    <a style="text-decoration: none;padding-bottom: 4px;" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
</svg>Ortga Qaytish</a>
</div>
</div>
  <img src="https://static.vecteezy.com/system/resources/previews/024/816/877/original/summer-sun-error-404-flash-message-sunshine-heat-weather-forecast-sonne-hitze-empty-state-ui-design-page-not-found-popup-cartoon-image-flat-illustration-concept-on-white-background-vector.jpg" alt="">
</body>
</html>


